absl-py==2.1.0
attrs==24.2.0
cachetools==5.5.2
cattrs==1.0.0
certifi 
charset-normalizer==3.4.6
cloudpickle==2.2.1
google-auth==2.45.0
google-auth-oauthlib==0.4.6
grpcio==1.62.3
h5py==3.8.0
idna==3.10
importlib-metadata==4.4.0
Markdown==3.4.4
MarkupSafe==2.1.5
mlagents==0.28.0
mlagents-envs==0.28.0
numpy==1.21.6
oauthlib==3.2.2
Pillow==9.5.0
protobuf==3.20.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
torch==1.7.1+cpu
torchaudio==0.7.2
torchvision==0.8.2+cpu
typing_extensions==4.7.1
urllib3==2.0.7
Werkzeug==2.2.3
zipp==3.15.0
